<div class="input-container">
    <!-- <button class="stub-input" (click)="stub()">STUB</button> -->
     <!-- <form action="" class="form"> -->
        <div class="form-container">
            <button class="image-button button">
                <!-- <input type="image"> -->
                <fa-icon class="image-send-icon" [icon]="faImage"></fa-icon>
            </button>
            <input type="text" class="text-input" placeholder="Message...">
            <button class="send-button button" (click)="stub()">
                <fa-icon class="plane-icon" [icon]="faPaperPlane"></fa-icon>
            </button>
        </div>
     <!-- </form> -->
</div>
