<div class="intro-page">
    <div class="login-board">
        <div class="logo-container">
            <img class="logo" src="../../../assets/logo/main-logo-transparent(1).png" alt="txyStrangers Logo">
        </div>
        <div class="label-input">
            <span class="poppins-regular name-label">Name:</span>
            <input type="text" class="poppins-regular name-input" id="name-input" placeholder="Stranger"> 
        </div>
        <div >
            <button class="poppins-semibold get-input" id="get-input">Enter Chat</button>
        </div>
        <div class="gif-container">
            <img src="../../../assets/logo/newCaptchaAnchor.gif" alt="giff" class="gif">
        </div>
        <div class="poppins-light">
            <span>Terms and conditions</span>
            <span>Get help</span>
        </div>
    </div>
</div>
