.intro-page{
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(29,98,185,1) 0%, rgba(255,0,0,1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-board{
    width: 300px;
    height: 400px;
    padding: 10px 20px 20px 20px;
    background-color: var(--pc);
    color: var(--fc);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 100px;
    width: auto;
}

.gif{
    width: 250px;
    height: auto;
    margin-bottom: 0px;
}

.name-label{
    background-color: var(--lc);
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--lts);
}

.label-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: var(--lts);
}

.name-input{
    background-color: var(--sc);
    border: none;
    width: 160px;
    height: 25px;
    padding: 0px 10px;
    color: var(--fc);
}

.get-input{
    height: 30px;
    width: 110px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bc);
    color: var(--fc);
    font-size: var(--bts);
}